{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">

<div class="container">

<a href="/post_list/new"><p>글쓰기</p></a>

{% for post in posts %}

	<a href="{% url 'post_detail' post.pk %}"> <!-- 클릭 시 링크 설정 -->

		<div class="card">

			<!-- 카드 헤더 -->
			<div class="card-header" >
				<div class = "card-header-is_closed" > 
					<div class = "card-header-text" > 모집중 </div > 
					<div class = "card-header-number" > 2 / 5 </div > 
				</div >
			</div>

			<!--  카드 바디 -->
			<div class="card-body">
				
				<!--  카드 바디 헤더 -->
				
				<div class="card-body-header">
				
					<h1>{{ post.title }}</h1>
					<p class="card-body-hashtag">#여수 #순천 #광양</p>
					<p class = "card-body-nickname"> 
						
						작성자: {{ post.user.username }}
				
					</p>
				</div>

				<p class="card-body-description">

					{{ post.text }}

				</p>
				<!--  카드 바디 본문 -->

				<!--  카드 바디 푸터 -->
				<div class="card-body-footer">

					<hr style="margin-bottom: 8px; opacity: 0.5; border-color: #EF5A31">

					<i class="icon icon-view_count"></i>조회 38회

					<i class="icon icon-comments_count"></i>댓글 4개

					<i class="reg_date"> 2018/04/12 </i>

				</div>

			</div>

		</div>

	</a>

{% endfor %}
</div>
{% endblock %}